
.borderedBox{

    width:20px !important;
    height:20px !important;
    padding:3px 2px !important;
    
    border:1px solid #bebdc3 !important;
    margin-right:2px !important;
    color:#bebdc3 !important;
    cursor:context-menu !important;
}

.btn{
    padding: 5px 5px;
    border-radius: 6px;
    font-size:8px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space:nowrap;
    
    
    
  }